<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="{{ static_url("css/screen.css") }}" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="{{ static_url("css/print.css") }}" type="text/css" media="print">
        <!--[if lt IE 8]>
        <link rel="stylesheet" href="{{ static_url("css/ie.css") }}" type="text/css" media="screen, projection">
        <![endif]-->
        {% block css %}{% end %}
        <title>{% block title %} Agenda! {% end %}</title>
    </head>
    <body>
        <div class="container">
            <h1>this is your agenda :)</h1>
            {% block content %}
            {% end %}
        </div>
    <script src="{{ static_url("js/jquery.js") }}" type="text/javascript" charset="utf-8"></script>
    {% block js %}{% end %}
    </body>
</html>
