{% extends base.html %}

{% block css %}
<link rel="stylesheet" href="/static/css/awesome.css" type="text/css" media="screen" charset="utf-8">
<style type="text/css" media="screen">
    .error {
        margin-top: 30px;
        margin-bottom: 20px;
        padding-bottom: 0px;
    }
</style>
{% end %}

{% block content %}
<h3>create a new task!</h3>

{% if form.errors %}
<div class="error">
    <ul class="errors">
        {% for field_name, field_errors in form.errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% end %}
        {% end %}
    </ul>
</div>
{% end %}

<form id="save" action="{{ request.uri }}" method="post" accept-charset="utf-8">
    <fieldset id="">
        <legend></legend>
        <p>{{ form.description.label }}<br /> {{ form.description(class_="title") }}</p>
        <p>{{ form.due_on.label }}<br /> {{ form.due_on(class_="title", id="due_on") }} <br />
        <span style="font-size: 1em;">we support a long list of date styles. if you are not sure if it's correct, press enter on the field or <a id="preview" href="javascript:void(0)">click here</a></span>
        </p>
        <p id="date_preview">&nbsp;</p>
        <a class="large blue awesome save">Save!</a>
    </fieldset>
</form>
{% end %}

{% block js %}
<script src="/static/js/date.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('.save').click(function(){
            $('#save').submit();
        });

        $('#due_on').live("keypress", function(e){
            if (e.keyCode == 13) {
                $('#preview').click();
            }
        })

        $('#preview').click(function(){
            var d = $('#due_on').val();

            $.getJSON('/tasks/date', {'date': d}, function(json){
                $('#date_preview').html(json.date);
            })        
        })
    })
</script>
{% end %}
