{% extends base.html %}

{% block content %}
<br />
<h3>those are all your tasks</h3>
<table>
    <thead>
        <tr>
            <th>description</th>
            <th>due on</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for t in tasks %}
        <tr>
            <td>{{ t.description }}</td>
            <td>{{ t.show_due_on(tz) }}</td>
            <td><a href="/show/{{ t.key() }} ">view</a>&nbsp;<a href="/edit/{{ t.key() }} ">edit</a> <a class="delete" href="/delete/{{ t.key() }}">delete</a></td>
        </tr>
        {% end %}
    </tbody>
</table>
<p>
<a href="/">just for today?</a>
<a href="/create">create a new one</a>
</p>
{% end %}

{% block js %}
<script src="/static/js/list.js" type="text/javascript" charset="utf-8"></script>
{% end %}
