{% extends base.html %}

{% block css %}
<link rel="stylesheet" href="/static/css/awesome.css" type="text/css" media="screen" charset="utf-8">
{% end %}

{% block title %}
Settings
{% end %}

{% block content %}
<h3>Settings</h3>

<p><strong>your api key (for xmpp access)</strong>: {{ settings.api_key }}</p>
{% end %}

{% block js %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('.save').click(function(){
            $('#settings').submit();
        });

        $('#xmpp_enabled').click(function(){
            console.log($(this).is(":checked"));
            if($(this).attr('checked')){
                $('.xmpp').show();
            } else {
                $('.xmpp').hide();
            }
        }).click();
    })
</script>
{% end %}
