{% extends base.html %}

{% block css %}
<link rel="stylesheet" href="/static/css/awesome.css" type="text/css" media="screen" charset="utf-8">
{% end %}

{% block title %}
Settings
{% end %}

{% block content %}
<h3>Settings</h3>

<p><strong>your api key (for xmpp access)</strong>: {{ settings.api_key }}</p>
<form action="{{ request.uri }}" method="post" id="save" accept-charset="utf-8">
    <fieldset>
        <legend></legend>
        <p>{{ form.timezone.label }}<br/> {{ form.timezone(id="timezone") }}</p>
        <a class="large blue awesome save">Save!</a>
    </fieldset>
</form>
{% end %}

{% block js %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('.save').click(function(){
            $('#save').submit();
        });
    })
</script>
{% end %}
